body{
    background-color: rgb(17, 20, 204);
}
header {
    background-color: #5c6866;
    color: rgb(216, 208, 208);
}
*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #ffffff;
    color: rgb(88, 0, 112);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
